apiVersion: v1
kind: Service
metadata:
  name: {{ include "keezy.fullname" . }}
  labels:
    {{- include "keezy.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.tls.enabled }}
    - port: {{ .Values.tls.port }}
      targetPort: https
      protocol: TCP
      name: https
    {{- end }}
  {{- with .Values.service.externalIPs }}
  externalIPs:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    {{- include "keezy.selectorLabels" . | nindent 4 }}
